@keyframes cover{
    from{background:rgba(255,255,255,1)}
    to{background:rgba(255,255,255,0);z-index:-1}
}


/*Contsct us*/


.cover{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(255,255,255,1);
    z-index: 99999;
    animation:cover 1.2s 1 forwards ease;
}

.name-page{
    width:100%;
    background:#f8f9fa;
    height:40vh;
    min-height:200px;
}

.name-page > div{
    width:58%;
/*    border:1px solid;*/
    margin:0 auto;
    height:100%;
    position:relative;
}

@media only screen and (max-width:1415px){
    .name-page > div{
        width:75%;
    }
}

.name-container{
    position:absolute;
    bottom:0px;
    left:0px;
/*    border:1px solid;*/
}

.name-container h1{
    font-family: "Libre Baskerville",serif;
    margin:0;
    font-weight: 100;
    font-size: 40px;
    color:#333;
}

.name-container span{
    display: inline-block;
    margin:10px 0px 15px 0;
    color:#333;
    font-weight: bold;
    font-size: 14px;
}

.name-container .home{
    color:#0fb78d;
}



/*Table-orders*/



.orders{
    width:58%;
    margin:100px auto;
/*    border:1px solid;*/
}

table{
    width:100%;
}

table,tr,td,th{
    border-collapse:collapse;
    border:1px solid #ccc;
}

th{
    padding:10px;
}

td{
    width:20%;
    text-align: center;
}

td.image{
    padding:5px;  
}

td>img{
    width:100%;
}

td.p_name{
    font-family: "Libre Baskerville";        
}

td span.price{
    font-family: "Muli", sans-serif;
    color:#333;
}

td>i{
    font-size:23px;
    cursor:pointer;
}

.qty > button,#number{
    background:transparent;
    border:1px solid #000;
    padding:1vw 10px;
    outline:none;
    text-align: center;
    cursor:pointer;
    transition: 0.2s ease;
}

.qty > button:hover{
    background:#000;
    color:fff;
    transition: 0.2s ease;
}

#number{
    width:20%;
    padding:1vw 0px;
    border-right:none;
    border-left:none;
    cursor:text;
}


@media only screen and (max-width:1415px){
    .orders{
        width:75%;
    }
}

@media only screen and (max-width:900px){
    .orders{
        width:90%;
    }
    
    td{
        font-size:13px;
    }

    .qty > button{
        padding:0.5vw 5px;
        font-size:11px;
    }

    #number{
        padding:0.5vw 0px;
        font-size:11px;
    }
    
    td>i{
       font-size:15px; 
    }
}


.cart{
    width:100%;
    margin:50px 0px;
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap:100px;
}

.cart > div{
/*    border:1px solid;*/
}

.but{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:2vw;
}

.but button,.checkout{
    padding:10px 0px;
    font-variant: small-caps;
    font-size:15px;
}

.update,.apply,.checkout{
    font-variant: small-caps;
    background:#000;
    color:#fff;
    outline:none;
    border:1px solid #000;
    cursor:pointer;
}

.continue{
    background:#fff;
    color:000;
    border:1px solid;
    outline:none;
    transition:0.2s ease;
}

.continue:hover{
    background:#000;
    border:1px solid #000;
    color:#fff;
    transition:0.2s ease;
}

.cart h2{
    text-align: left;
    font-family: "Libre Baskerville";
    font-weight: 100;
}

.cart p{
    color:#333;
}

.coupon{
    display:grid;
    grid-template-columns: 2fr 150px;
    grid-gap:2vw;
}

.code{
    padding:0px 15px;
    font-size:16px;
    outline:none;
    font-family: "Muli",sans-serif;
    border:1px solid #000;
    transition:0.2s ease;
}

.code:focus{
    border:1px solid #777;
    transition:0.2s ease;
}

.apply{
    padding:15px 0px;
}



/**/

.cart-right h2{
    font-family: "Libre Baskerville";
    font-family:2vw;
    text-align: right;
    margin:0px;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}

.checkout-data{
    margin-top:3vw;
}

.ach{
    float:right;
    font-weight:bold;
    color:#000;
}

.checkout{
    width:100%;
    padding:15px 15px;
    margin-top:3vw;
}


@media only screen and (max-width:975px){
    .cart{
        grid-gap:50px;
    }
}

@media only screen and (max-width:820px){
    .cart{
        grid-template-columns: 1fr;
        grid-gap:50px;
    }
}